<h3><i class="fas fa-book-reader"></i>LibraryPortal</h3>
<div class="section">
    <p class="lead">
        Create a personalized reading list for future reads
    </p>
</div>
<div class="divider"></div>
    <a href="/auth/google" class="btn blue lighten+2">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>